.container {
  background-image: url('/background/glass.png');
  background-repeat: repeat;
  background-size: 500px;
  min-height: 100vh;
  overscroll-behavior: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overscroll-behavior: none;
}

.titleContainer {
  width: 600px;
  height: 80px;
  text-align: center;
  align-items: center;
  margin-top: 150px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.input {
  width: 400px;
  height: 20px;
  padding: 0.5rem;
  font-size: 1.125rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  margin-bottom: 0;
  z-index: 1;
}

.button {
  width: 500px;
  height: 80px;
  padding: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: #f3f4f6;
  color: black;
  border-radius: 0.6rem;
  cursor: pointer;
}

.button:hover {
  background-color: #d1d5db;
}

.body {
  margin: 0;
  padding: 0;
} 

.userNameBackground {
  position: relative;
  top: -40px;
  left: -5.5px;
  width: 102.5%;
  height: 130%;
  background: url('/frame/username.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  pointer-events: none;
}

.passWordBackground {
  position: relative;
  top: -40px;
  left: -5.5px;
  width: 102.5%;
  height: 130%;
  background: url('/frame/username.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  pointer-events: none;
}

.buttonContainer {
  width: 500px;
  height: 80px;
  padding: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  border-radius: 0.6rem;
  cursor: pointer;
}

.buttonBackground {
  position: relative;
  top: -85px;
  left: -5px;
  width: 508px;
  height: 90px;
  background: url('/frame/start.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  pointer-events: none;
}

.button:disabled {
  background-color: #cccccc; /* 無効化されたボタンの背景色 */
  cursor: not-allowed; /* 無効化されたボタンのカーソル */
}

.button:hover:enabled {
  background-color: #0056b3;
}

.errorMessageContainer {
  width: 500px;
  height: 80px;
  padding: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  border-radius: 0.6rem;
}

.errorMessage {
  color: red;
  background-color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.6rem;
}

.errorMessageBackground {
  position: relative;
  top: -50px;
  left: -5px;
  width: 508px;
  height: 57px;
  background: url('/frame/start.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 0;
  pointer-events: none;
}