.editMenuContainer {
    position: fixed;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 850px;
    z-index: 10;
}

.editMenuInner {
    position: absolute;
    top: 2px;
    left: 5px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background-color: #BDFFA3;
    border-radius: 10px;
    z-index: 1;
}

.editMenuContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/frame/editMenu.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.nextPartsContainer {
    position: absolute;
    top: 100px;
    left: 20px;
    width: calc(100% - 40px);
    height: 325px;
    background-image: url('/frame/nextParts.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.partsTitle {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    z-index: 2;
}

.nextPartsInner {
    position: absolute;
    top: 100px;
    left: 90px;
    width: calc(100% - 185px);
    height: 315px;
    background-image: url('/background/glass.png');
    background-repeat: repeat;
    background-size: 500px;
    border-radius: 15px;
    z-index: 1;
}

.nextPartsContainer2 {
    position: absolute;
    top: 500px;
    left: -60px;
    width: calc(100% - 40px);
    height: 200px;
    background-image: url('/frame/nextParts.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.nextPartsInner2 {
    position: absolute;
    top: 500px;
    left: 60px;
    width: calc(100% - 280px);
    height: 193px;
    background-image: url('/background/glass.png');
    background-repeat: repeat;
    background-size: 500px;
    border-radius: 15px;
    z-index: 1;
}

.nextPartsTitle {
    position: absolute;
    top: 460px;
    left: -78px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    z-index: 2;
}

.remainingParts {
    position: absolute;
    top: 565px;
    right: 65px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 1.5;
    z-index: 4;
}

.nextButtonContainer {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: calc(100% - 40px);
    height: 70px;
    background-image: url('/frame/button.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.nextButtonInner {
    position: absolute;
    bottom: 43px;
    left: 72px;
    width: calc(100% - 140px);
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
}

.buttonText {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    z-index: 4;
} 