.container {
    width: 100%;
    min-height: 100vh;
    background-image: url('/background/glass.png');
    background-repeat: repeat;
    background-size: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gridWrapper {
    margin-top: -99px;
}

.buttonGroup {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 120px;
}
