.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('/background/ocean.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.japanMap {
  position: absolute;
  cursor: grab;
  width: 50%;
  height: 50%;
  transition: opacity 0.3s;
}

.japanMap.dragging {
  cursor: grabbing;
}

.nextButton {
  position: fixed;
  bottom: 0px;
  right: 125px;
  width: 250px;
  height: 250px;
  z-index: 10;
}

.nextButtonBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/frame/nextButton.png') no-repeat center center;
  background-size: contain;
  background-position: center;
  z-index: 1;
  pointer-events: none;
}

.nextButtonInner {
  position: absolute;
  width: 93%;
  height: 43%;
  background-color: #FBC9FF;
  border-radius: 10px;
  z-index: 0;
  bottom: 31%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
}

.nextButtonTitle {
  font-size: 28px;
  padding-bottom: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.closeButton {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.closeButton:hover {
    background: #0056b3;
} 